.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 180px;
  border: 1px solid black;
}

.container img {
  width: 140px;
  height: 140px;
}

.product-grid {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.pages {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.singlePageNumber {
  border: 1px solid black;
  padding: 2px;
  cursor: pointer;
}

.active {
  background-color: rgb(236, 177, 101);
}
